services:
    mapper:
        image: mapper-image:latest
        stdin_open: true
        build:
            context: .
            dockerfile: Dockerfile
        extra_hosts:
          - "host.docker.internal:host-gateway"
        volumes:
            - ./imgData:/App/imgData:rw